.navbar{
    display: flex;
    flex-direction: column;

}

.nav1{
    display: flex;
    justify-content: space-evenly;
    background-color: #da91ee;
}
.search-bar{
    max-width: 500px;
    margin-top: 1%;
    border-radius: 5px;
    width:25rem;
}

.products{
    display: flex;
    justify-content: space-evenly;
    background-color: #DFCCFB;
}

.logo{
    background-color: aqua;
    border: none;
    border-radius: 4px;
    padding:5px;
}
.loginfull{
    display: flex;
    margin-top :0.5rem;
}
.cartfull{
    display: flex;
    margin-top:0.5rem;
}
.menu{
    margin-top: 0.5rem;
}
/* #DFCCFB */