body{
    background-color: #FFF3DA;
    font-family: Arial, Helvetica, sans-serif;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap:1.5rem;
    padding:1rem;
    box-sizing:border-box;

}

/* .beauty-card,.comp-card{
    display: flex;
    flex-direction: column;

    text-align: center;
    height: 375px;
    width: 300px;
    background-color:#DFCCFB ;
    margin-top: 30px;
    border-radius: 10px;
}
.comp-card{
    margin-left:30px;
    padding: 10px;
    padding-top: 0;
}
.cards{
    display: flex;
}
.comp-img{
    height: 250px;
    width: 250px;
    margin-left: 20px;
}
.beauty-img{
    margin-left: 20px;
    height: 275px;
    width: 250px;
}
.heading{
    margin-inline-end: 20px;
}
.top-deals,.home-appliance{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;
    height: 375px;
    width: 300px;
    background-color:#DFCCFB ;
   
    
    border-radius: 10px;
    padding-left: 30px;

}
.cleaning-img,.bathroom-img,.hometools-img,.wallpapers-img,.ac-img,.wash-img,.ref-img,.micro-img{
    height: 100px;
    width: 100px;
    margin-bottom:30px;
    margin-left: 20px;
   
} */
