body{
    background-color: #FFF3DA;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    
    justify-content: space-evenly;
    padding: 10px;
    
    margin-top: 20px;
    background-color: #DFCCFB;
}
.loginfull{
    display: flex;
}
.cartfull{
    display: flex;
}
.logo{
    margin-left: 30px;
    margin-right:30px;
    border:2px solid rgb(113, 204, 223);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    border-radius: 3px;
    background-color:rgb(113, 204, 223);
    color: white;
}
.search-bar{
    width:500px;
    height:30px;
    border-radius: 4px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(255, 255, 255, 0.858);
}
.login{
    margin-right: 30px;
    margin-top: 10px;
}
.cart{
    margin-top: 10px;
    margin-left: 0px;
}
.login-icon{
    margin-top: 10px;
}
.cart-icon{
    margin-top: 10px;
}
.menu{
    margin-top: 10px;
    margin-left: 50px;
}
.products{
    display: flex;
    justify-content: space-evenly;
    background-color: #BEADFA;
    height: 30px;
    align-items: center;
}
.electronics:hover,.fashion:hover,.grocery:hover,.home-furniture:hover{
    border: 2px solid white;
    padding: 4px;
}
.beauty-card,.comp-card{
    display: flex;
    flex-direction: column;

    text-align: center;
    height: 375px;
    width: 300px;
    background-color:#DFCCFB ;
    margin-top: 30px;
    border-radius: 10px;
}
.comp-card{
    margin-left:30px;
    padding: 10px;
    padding-top: 0;
}
.cards{
    display: flex;
}
.comp-img{
    height: 250px;
    width: 250px;
    margin-left: 20px;
}
.beauty-img{
    margin-left: 20px;
    height: 275px;
    width: 250px;
}
.heading{
    margin-inline-end: 20px;
}
.top-deals,.home-appliance{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;
    height: 375px;
    width: 300px;
    background-color:#DFCCFB ;
   
    
    border-radius: 10px;
    padding-left: 30px;

}
.cleaning-img,.bathroom-img,.hometools-img,.wallpapers-img,.ac-img,.wash-img,.ref-img,.micro-img{
    height: 100px;
    width: 100px;
    margin-bottom:30px;
    margin-left: 20px;
   
}
